{{#if addNewQuestion}}
  <h2>Post a New Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="content">New Question: </label>
        {{input value=content id="content" placeholder="question"}}
      </div>

      <div class="form-group">
        <label for="author">Author: </label>
        {{input value=author id="author" placeholder="author"}}
      </div>

      <div class="form-group">
        <label for="note">Additional Note: </label>
        {{input value=note id="note" placeholder="note"}}
      </div>

      <button {{action 'saveQuestion'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
